body {
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(255, 227, 255, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0px auto;
  padding-top: 64px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

ul li a {
  color: #1F1534;
  text-decoration: none;
  opacity: 0.5;
}

ul li a:hover {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  width: 420px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}

h1 span {
  color: #89C5CC;
}

section p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #7D7987;
  margin: 40px 0;
  width: 420px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #69B99D;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #4d9c80;
}

footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1F1534;
  text-align: center;
  margin: 80px auto 40px;
}

footer a {
  font-weight: 700;
  text-decoration: none;
  color: #1F1534;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
